

.header-container{
    background-color: #EC1A4b;
    padding: 13px;
    display: flex;
    flex-direction: row;
}

.logo-header{
    height: 44px;
    margin: 0;
    border: 0;
    padding: 0;
}

.search-nav-bar{
    margin-top: 12px;
    background-color: grey;
    padding: 10px;
    border: 0 #fff;
    border-radius: 10px;
    
}